table {
  display: grid;
  border-collapse: collapse;
  min-width: 100%;
  grid-template-columns:
    minmax(1em, 1fr)
    minmax(1em, 1fr)
    minmax(1em, 1fr)
    minmax(1em, 1fr)
    minmax(1em, 1fr)
    minmax(1em, 1fr)
    minmax(1em, 1fr)
    minmax(1em, 1fr)
    minmax(1em, 1fr)
    minmax(1em, 1fr);
}

thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}

th {
  position: sticky;
  top: 2.8em;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(even) td {
  background: #f8f6ff;
}
