.navbar {
  width: 100%;
  position: relative;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(99, 63, 88);
  height: 3em;
  -ms-align-items: center;
  align-items: center;
  padding-left: 5%;
}

.navbar a {
  width: auto;
  color: white;
  font-size: 1.2em;
  margin-right: 1em;
  display: inline-block;
}
